<!DOCTYPE html>
 <html>
 <head>
   <title>Delete response</title>

  <style>

   body{
    background-image: url('/static/bg.png');
   background-size: cover;
   text-align: center;
   font-weight: bold;
   font-size: larger;
  }

  a:link, a:visited {
  background-color:rgba(14, 13, 13, 0.884);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }

  a:hover, a:active {
  background-color: red;
  }

  </style>

 </head>
 <body>
 <br><h1>{{msg}}</h1><br><br>
 <a href="/display">View Records</a>
 </body>
 </html> 